PyYAML~=5.3.1
easydict~=1.9
numpy~=1.18.5
matplotlib~=3.2.2
networkx~=2.4
tqdm~=4.48.2
pandas~=1.0.5
scipy~=1.4.1
setuptools~=45.2.0
six~=1.14.0
powerlaw~=1.4.6
sklearn~=0.0
scikit-learn~=0.23.1
tensorboard~=2.6.0
pytorch~=1.10.0
networkx~=2.6.3
pyg~=2.0.2
pickle